<footer class="text-gray-700 bg-white border-t body-font">
  <div class="">
    <div class="container flex flex-col flex-wrap px-5 py-6 lg:px-20 sm:flex-row">
      <div class="flex flex-wrap items-center justify-center text-base">
        <p class="mr-5 text-sm text-center text-gray-200">
          Kat I
        </p>
        <a href="#" class="justify-center mr-5 text-sm text-center text-blueGray-200 hover:text-blue-700">
          LINK 
        </a>
        <a href="#" class="justify-center mr-5 text-sm text-center text-blueGray-200 hover:text-blue-700">
          LINK 2
        </a>
        <a href="#" class="justify-center mr-5 text-sm text-center text-blueGray-200 hover:text-blue-700">
          LINK 3
        </a>
      </div>
      <span class="inline-flex justify-center mt-2 sm:ml-auto sm:mt-0 sm:justify-end">
        <p class="mr-5 text-sm text-center text-gray-200">
          Creating Tutorials For You
        </p>
      </span>
    </div>
  </div>
</footer>

{# TODO: 
- 'Built With 11ty (logo?)',
- Links to my GitHub & LinkedIn accs + Tg
- Birth year (of the project. not me)
#}