<header class="text-gray-700 bg-white border-t border-b body-font">
  <div class="container flex flex-col flew-wrap mx-auto md:item-center md:flex-row">
    <nav class="flex flex-wrap items-center justify-center text-base md:ml-auto md:ml-auto md:mr-auto">
      <a href="/about" class="mr-6 text-md font-semibold hover:text-gray-900">Обо мне</a>
      <a href="/articles" class="mr-6 text-md font-semibold hover:text-gray-900">Блог</a>
      <a href="/contacts" class="mr-6 text-md font-semibold hover:text-gray-900">Контакты</a>
    </nav>
  </div>
</header>