<footer class="text-gray-700 bg-white border-t body-font">
  <div class="container flex flex-row py-6 lg:px-20 sm:flex-row">
    <div class="flex flex-wrap items-center justify-center text-base">
      <p class="text-sm text-center text-gray-500">
          built with
          <a href="https://www.11ty.dev/" target=”_blank” class="underline">11ty</a>
      </p>
    </div>
    {# <p class="flex justify-center flex-col flex-wrap text-sm mt-2 sm:ml-auto sm:mt-0 mr-5 text-black-700">@ Ekaterina Ityaksova 2022
    </p> #}
    <div class="flex justify-between space-x-3 mt-2 sm:ml-auto sm:mt-0 sm:justify-end mx-5 pl-12">
      <a href="https://github.com/hellagirrl" target="_blank">
        {% include "icons/github.svg" %}
      </a>
      <a href="my-linkedin" target="_blank">
        {% include "icons/linkedin.svg" %}
      </a>
      <a href="https://t.me/katttywho" target="_blank">
        {% include "icons/telegram.svg" %}
      </a>
    </div>
  </div>
</footer>

{# TODO: 
- [x] 'Built With 11ty (logo?)',
- [] Links to my GitHub & LinkedIn accs + Tg
- [x] Birth year (of the project. not me)
#}