<header class="text-gray-700 bg-white border-t border-b body-font">
  <div class="py-2 sm:container sm:py-1 flex flex-col mx-auto md:item-center md:flex-row">
    <nav class="flex items-center justify-center md:ml-auto md:mr-auto">
      {% set navPages = collections.all | eleventyNavigation %}
      {% for link in navPages %}
        <a href="{{ link.url }}" class="mr-4 text-sm sm:mr-6 md:text-base font-semibold hover:text-gray-900">{{ link.title }}</a>
      {%- endfor %}
    </nav>
  </div>
</header>