---
layout: layouts/layout.njk
pagination: 
  data: collections.post
  size: 3
  reverse: true
  alias: posts
---

<div class="prose prose-sm md:prose-lg max-w-2xl px-8 mx-auto bg-white">
  {{ content | safe }}
  <ul class="list-disc">
    {% for post in posts %}
      <li>
        <a href="{{ post.url | url }}">{{ post.data.title }}</a>
      </li>
    {% endfor %}
  </ul>
</div>