---
layout: layouts/layout.njk
---

<article class="prose prose-sm lg:prose-lg max-w-2xl px-8 mx-auto bg-white">
  <h1 class="text-xl xl:text-2xl">
    {{ title }}
  </h1>
  <time datetime="{{ date }}">{{ date | formatDate }}</time>
  {{ content | safe }}
</article>